*,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Poppins;
}

body{
    background-color: #EFE9E1;
}


.container.main-container{
    display: grid;
    place-items: center;
    align-items: center;
    position: relative;
    background-color: #72383d;
    z-index: 1;
}

.container.main-container .main-title{
    opacity: 0;
    color: #fff;
    font-family: Poppins;
    font-size: 10em;
    color:#AC9C8D;
    animation: text 0.8s ease-in-out 1s forwards;
    text-align: center;
}

.container.main-container .stripe{
    width: 200px;
    height: 700px;
    position: absolute;
    top: 0;
    left: 15%;
    background-color: #FFC94A;
    animation: stripe 0.7s ease-in-out;
    animation-delay: 0;
}

.container.main-container .pen-stand{
    opacity: 0;
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    left: 50%;
    animation: pen 1s ease-in-out forwards;
    z-index: -1;
}

/* OBJECTIVES */

.container.objectives-container{
    display: grid;
    align-items: center;
    padding: 7em 3em;
}

.container.objectives-container .header{
    text-align: center;
}

.container.objectives-container .header .title{
    font-family: Poppins;
    text-transform: uppercase;
}

.container.objectives-container .objectives{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container.objectives-container .objectives .product-details{
    padding: 3em;
    height: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container.objectives-container .objectives .product-details .topic{
    width: 50%;
    padding: 1em;
    text-align: center;
    background-color: #34191c;
    border-radius: 3px;
    color: #fff;
    box-shadow: 1px 3px 7px #a39485;
    margin: 0 auto;
    transition: transform 0.1s ease-in;
}

.container.objectives-container .objectives .product-details .topic:hover{
    transform: translateY(-5%);
}


/* FOOTER */

.footer{
    background-color: #72383d;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.footer .footer-information{
    padding: 3em 7em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.footer .footer-title{
    color: #fff;
    text-align: center;
    font-size: 2.5rem;
}

.footer .policy{
    width: 100%;
    padding: 1em;
    text-align: center;
    border-top: 3px solid #AC9C8D;
    color: #fff;
    font-style: italic;
}

.footer .details{
    padding: 3em;
    width: 100%;
    height: 100%;
    background-color: #34191c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    box-shadow: 3px 3px 7px #34191c;
}

.footer .details .detail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.footer .details .detail .detail-info{
    color: #fff;
}


/* ---------- */

.container{
    width: 100%;
    min-height: 100vh;
}

/* ANIMATIONS */

@keyframes stripe{
    0%{
        height: 0;
    }
    100%{
        height: 700px;

    }
}

@keyframes text{
    0%{
        opacity: 0;
        transform: translateY(-25%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pen{
    0%{
        opacity: 0;
        transform: translate(-50%,25%);
    }
    100%{
        opacity: 1;
        transform: translate(-50%,0);
    }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1500px) {
    .container.main-container .main-title{
        font-size: 7em;
    }
}

@media screen and (max-width: 950px) {
    .container.main-container .main-title{
        font-size: 5em;
    }

    .container.objectives-container .objectives .product-details .topic{
        width: 100%;
    }

    .container.objectives-container .objectives .product-details{
        padding: 0;
    }
}

@media screen and (max-width: 500px) {
    .container.objectives-container .objectives{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .footer .footer-information{
        padding: 1em;
    }

    .footer .details{
        flex-direction: column;
    }

    .footer .details .detail{
        justify-content: left;
    }
}
